@media all and (min-device-width:500px) and (max-device-width:4096px) {

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.current {
	color: green;
}

.notcurrent {
	color: black;
}

#homeabout {
	position: absolute;
	right: 100px;
	top: 10px;
}

#respectthe {
	display: inline-block;
	color: black;
	font-size: 20px;
}

#boxlogo_container {
	display: inline-block;
	margin-left: 15px;
	position: relative;
	top: 20px;
}

#boxlogo {
	width: 150px;
	height: 120px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.title_block {
	height: 20%;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 15px;
	font-family: "Courier New";
}

.content_superblock {
	height: 80%;
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 170px;
        font-family: "Courier New";
	background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('/assets/images/network.jpg');
        background-repeat: no-repeat;
        background-size: cover;
	background-position: center;
        //-webkit-background-size: cover;
        //-moz-background-size: cover;
        //-o-background-size: cover;

}

#empty_block_left {
	float: left;
	display: inline-block;
	width: 15%;
	height: 100%;
}

#alltreenodes {
	display: inline-block;
	width: 100%;
}

.treenode {
	position: relative;
	left: 0px;
	top: 0px;
	margin-bottom: -16px;
	padding: 0px;
	text-align: center;
	width: 100%;
        font-family: "Courier New";	
}

.treenode:not(#tree0) {
}

.topic_fig {
	width: 100px;
	text-align: center;
	display: inline-block;
}

.topic_img {
	width: 100%;
}

a {
	text-decoration: none;
}

.topiclink {
	position: relative;
}

.topiclinkHOME {
	position: relative;
	top: -100px;
}

}

@media all and (max-device-width: 499px) {

body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px
}

.current{color:green}

.notcurrent{color:black}

#homeabout{
	position: absolute; 
	left: 50px; 
	top: -20px; 
	font-size:40px; 
}


#respectthe{
	display:inline-block;
	color:black;
	font-size:40px;
}

#boxlogo_container{
	display:inline-block;
	margin-left:15px;
	position:relative;
	top:40px
}

#boxlogo{
	width:230px;
	height:200px;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%)
}

.title_block{
	height:20%;
	width:100%;
	text-align:center;
	position:absolute;
	top:50px;
	font-family:"Courier New"
}

.content_superblock{
	height:80%;
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	position:absolute;
	top:350px;
	font-family:"Courier New";
	background:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url("/assets/images/network.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center
}

#empty_block_left{float:left;display:inline-block;width:15%;height:100%}

#alltreenodes{display:inline-block;width:100%}

.treenode{
	position:relative;
	left:0px;
	top:0px;
	margin-bottom:-16px;
	padding:0px;
	text-align:center;
	width:100%;
	font-family:"Courier New";
	font-size: 40px;
}

.topic_fig{
	width:25%;
	text-align:center;
	display:inline-block
}

.topic_img{width:100%}

a{text-decoration:none}

.topiclink{position:relative}

.topiclinkHOME{position:relative;top:-100px}


}
