<!doctype html>
<html>
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<title>{{ page.title }}</title>
  </head>
  <body>
    <div class="title_block">
       <div id="respectthe">
	    <h1>respect the</h1>
	</div>
	<div id="boxlogo_container">
	    <img id="boxlogo" src="/assets/images/boxlogo.png">
	</div>
	{% include navigator.html %}
    </div>
    <div class="content_superblock">
	<div class="empty_block_left">
	</div>
	    <div class="content_block">
	    {{ content }}
	</div>
    </div>
  </body>
</html>
