<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<title>{{ page.title }}</title>
</head>

<body  {% if page.title == "About" %} link="green" alink="yellow" vlink="yellow" {% endif %}>
  <div class="title_block">
     <div id="respectthe">
	    <h1>r e s p e c t<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspt h e<br></h1>
     </div>
     <div id="boxlogo_container">
	    <img id="boxlogo" src="/assets/images/boxlogo.png">
     </div>
	{% include navigator.html %}
  </div>

  <div class="content_superblock">
     <div id="alltreenodes">
        <div id="tree0" class="treenode" {% if page.title == "About" %} style="color:white;" {% endif %}>
	    {{ content }}
        </div>
     </div>
  </div>
</body>

<script>

document.getElementById("tree0").style.height = window.innerHeight + "px";
document.body.style.backgroundSize = window.innerWidth + "px " + window.innerHeight + "px";
var whitetopics = document.getElementById("tree0").firstElementChild;
whitetopics.style.top = window.innerHeight/2 - whitetopics.getBoundingClientRect().top + "px"; 

	
// ###################################################
// SCROLLING HELPERS
// ###################################################]
var clicked_treelevel;

function scroll_curve(total, fractiondone) {
	var direction = Math.sign(total);
	total = Math.abs(total);
	sofar = Math.abs(fractiondone);
	var magnitude = Math.max(total/30, 1)
	var delta = direction * ( magnitude*Math.pow(2, -1*Math.pow(4*fractiondone-2, 2)) + 1 );
	return delta;
}

function smooth_scroll(begPos, tgtPos) {
	if(Math.abs(tgtPos - window.pageYOffset) < 5) {
		return;
	}
	var total = tgtPos - begPos;
	var delta = scroll_curve(total, (window.pageYOffset - begPos)/total);
	window.scrollTo(0, window.pageYOffset + delta);
	setTimeout(function() {smooth_scroll(begPos, tgtPos);}, 10);
}

function start_smooth_scroll(tgtElem) {
	var tgtPos = window.pageYOffset + tgtElem.getBoundingClientRect().top;
	target_top = tgtPos;
	var limit = Math.max( document.body.scrollHeight, document.body.offsetHeight, 
		document.documentElement.clientHeight, document.documentElement.scrollHeight, 
		document.documentElement.offsetHeight) - window.innerHeight;
	limit_seen = limit;
	if (tgtPos >= limit) {
		tgtPos = limit;
	}
	target_top_eff = tgtPos;
	smooth_scroll(window.pageYOffset, tgtPos);
}
// ###################################################


// ###################################################
// HELPERS FOR INSERTING NEW DIVS IN TOPIC TREE
// ###################################################
var targeted_div;

function insertAfter(newElement, referenceElement) {
	referenceElement.parentElement.insertBefore(newElement, referenceElement.nextSibling);
} 

function getNumberOfNodes() {
	return document.getElementsByClassName("treenode").length;
}

function remove_nodes_under_clicked_node() {
	var nodes = document.getElementsByClassName("treenode");
	var i;
	for (i=getNumberOfNodes()-1; i>clicked_treelevel; i--) {
		nodes[i].remove();
	}
}

function get_clicked_treelevel(linkclicked) {
	var linkclass = linkclicked.getAttribute("id");
	var level = parseInt(linkclass.substring(11, linkclass.length));
	return level;	
}

function armLinksWithLocation(newNode, treelevel) {
	var links = newNode.getElementsByTagName("a");
	var i;
	for (i=0; i<links.length; i++) {
		links[i].setAttribute("id", "link_atnode" + treelevel.toString(10));
		links[i].setAttribute("class", "topiclink"); // To bind CSS styles
	}
	return;
}

var divheightratio = 0.8;
function changeTreeNode(topicfile, linkclicked) {
	var target_div, xhttp;
	clicked_treelevel = get_clicked_treelevel(linkclicked);
	remove_nodes_under_clicked_node();
	target_div = document.createElement("div");
	target_div.setAttribute("id", "tree" + (clicked_treelevel + 1));
	target_div.setAttribute("class", "treenode");
	target_div.style.height = window.innerHeight + "px";
	insertAfter(target_div, document.getElementById("tree" + clicked_treelevel.toString(10)));

	xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if(this.readyState == 4) {
			if(this.status == 200) {
				target_div.innerHTML = this.responseText;
				armLinksWithLocation(target_div, clicked_treelevel + 1);
				start_smooth_scroll(target_div);
				var imgsrc = target_div.getElementsByClassName("metainfo")[0].getAttribute("value");
				target_div.style.backgroundImage = "linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('" + imgsrc + "')";
				target_div.style.backgroundPosition = "center";
				target_div.style.backgroundRepeat = "no-repeat";
				target_div.style.backgroundSize = target_div.offsetWidth + "px " + 
					Math.ceil(target_div.offsetHeight*divheightratio) + "px";
				target_div.style.opacity = "1";	
				tlinks = target_div.getElementsByClassName("topiclink");
				for (var i=0; i<tlinks.length; i++) {
					tlinks[i].style.top = Math.floor(Math.ceil(target_div.offsetHeight*divheightratio)/2.1) + "px";
				}
			}
		}
	}
	xhttp.open("GET", topicfile, true);
	xhttp.send();
 
	return;
}
// ###################################################

</script>

</html>
